import * as fs from "fs";
import * as k8s from '@carbonql/kubernetes-client-node';
import * as path from "path";
import * as http from "http";
import * as rx from "rxjs/Rx";
import * as promise from "bluebird";

export class Client {
  public static fromFile = (filename: string): Client => {
    const kc = kubeconfig.fromFile(filename);
    return new Client(kc);
  }

  private constructor(private _kc: k8s.KubeConfig) { }

  {{#groups}}
  public {{group}} = {
    {{#versions}}
    {{version}}: {
      client: () =>
        <{{clientName}}>fromKubeConfig(this._kc, {{clientName}}),

      {{#kinds}}
      {{kind}}: {
        {{#methods}}
        {{name}}: ({{paramsText}}) => {
          {{body}}
        },
        {{/methods}}
      },
      {{/kinds}}

    },
    {{/versions}}

  };
  {{/groups}}
}

type Listable<T> = {items: T[]}
type ApiResponseObj<T> = {response: http.ClientResponse; body: T;};
type ApiResponseList<T> = {response: http.ClientResponse; body: Listable<T>;};

const fromKubeConfig = (
  kc: k8s.KubeConfig, create: any,
): any => {
  const client = new create(kc.getCurrentCluster()['server']);
  client.setDefaultAuthentication(kc);

  return client;
}

const listAsObservable = <T>(
  p: promise<ApiResponseList<T>>
) => {
  return rx.Observable
    .fromPromise(p)
    .flatMap(res => res.body.items);
}

const objAsObservable = <T>(
  p: promise<ApiResponseObj<T>>
) => {
  return rx.Observable
    .fromPromise(p)
    .map(res => {
      return res.body;
    });
}

export namespace kubeconfig {
  // const SERVICEACCOUNT_ROOT =
  //   '/var/run/secrets/kubernetes.io/serviceaccount';
  // const SERVICEACCOUNT_CA_PATH =
  //   SERVICEACCOUNT_ROOT + '/ca.crt';
  // const SERVICEACCOUNT_TOKEN_PATH =
  //   SERVICEACCOUNT_ROOT + '/token';

  export const fromFile = (filename: string): k8s.KubeConfig => {
      let kc = new k8s.KubeConfig();
      kc.loadFromFile(filename);
      return kc;
  }

  // export const fromCluster = (): k8s.KubeConfig => {
  //     let host = process.env.KUBERNETES_SERVICE_HOST
  //     let port = process.env.KUBERNETES_SERVICE_PORT

  //     // TODO: better error checking here.
  //     let caCert = fs.readFileSync(SERVICEACCOUNT_CA_PATH);
  //     let token = fs.readFileSync(SERVICEACCOUNT_TOKEN_PATH);

  //     let k8sApi = new client.Core_v1Api('https://' + host + ':' + port);
  //     k8sApi.setDefaultAuthentication({
  //         'applyToRequest': (opts) => {
  //             opts.ca = caCert;
  //             opts.headers['Authorization'] = 'Bearer ' + token;
  //         }
  //     });

  //     return k8sApi;
  // }

  export const defaultClient = (): k8s.KubeConfig => {
      if (process.env.KUBECONFIG) {
          return fromFile(process.env.KUBECONFIG);
      }

      let config = path.join(<string>process.env.HOME, ".kube", "config");
      if (fs.existsSync(config)) {
          return fromFile(config);
      }

      throw new Error("Could not locate kubeconfig file");

      // if (fs.existsSync(SERVICEACCOUNT_TOKEN_PATH)) {
      //     return fromCluster();
      // }
  }
}
